@keyframes FadeIn
{
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes FadeInBlink
{
  0%, 50%, 70% {
    visibility: hidden;
    opacity: 0;
  }
  20%, 100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes ScaleUp
{
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ScaleDown
{
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
