button, .button {
  appearance: none;
  -webkit-appearance: none;
  outline: 0;
  border: 0;

  transition: 0.1s all linear;

  padding: .4rem 0.6rem;
  border-width: 1px;
  border-style: solid;
  border-radius: .25rem;
  
  cursor: pointer;

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1;
  font-weight: 500;

  text-transform: uppercase;
  letter-spacing: 1px;

  white-space: nowrap;
}

button:not([disabled]):hover, .button:not([disabled]):hover {
  filter: saturate(1.5);
}

button[disabled], .button[disabled] {
  cursor: default;
  opacity: 0.6;
}

button.primary, .button.primary {
  border-color: var(--color-green);
  background-color: var(--color-green);
  color: var(--color-light);
}

button.secondary, .button.secondary {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

button.secondary:not([disabled]):hover, .button.secondary:not([disabled]):hover {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-light);
}

button.secondary:not([disabled]):hover .icon-fill, .button .secondary:not([disabled]):hover .icon-fill {
  fill: var(--color-light);
}

.button__small {
  font-size: .85rem;
  padding: .1rem 0.45rem;
}

.button__large {
  font-size: 1.2rem;
  padding: .6rem 1rem;
}

button .loader, button .icon, .button .loader, .button .icon {
  margin-right: 0.25rem;
  line-height: 1;
}

button span:last-child, .button span:last-child {
  margin-right: 0;
}

.fullwidth {
  display: block;
  width: 100%;
}

button .icon, .button .icon {
   margin-right: calc(var(--space)/2);
}

button .icon-fill path, .button .icon-fill path {
  fill: var(--color-light);
}


input, select{
  padding: .3rem 0.6rem;
  border: 1px solid var(--color-gray);
  background-color: var(--color-light);
  border-radius: var(--radius);
  font-size: var(--font-size);
  font-family: var(--font-family-code);
  border-radius: .25rem;
  transition: 0.2s ease all;
}

input:focus {
  border-color: var(--color-dark);
}

input.large, select.large {
  font-size: 1.2rem;
  padding: .5rem 1rem;
}



.toggler input { display: none; }
.toggler label {
  position: relative;
  display: block;
  width: 60px;
  height: 40px;
  border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: var(--color-gray);
  color: var(--color-light);
  text-align: center;
}

.toggler label:before {
  content: 'Off';
  width: 100%;
  text-align: center;
  line-height: 40px;
}

.toggler label:after {
  content: '';
  display: block;
  width: 6px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--color-gray-dark);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  transition: 0.3s ease-out all;
}

.toggler input:checked + label {
  background-color: var(--color-green);
}

.toggler input:checked + label:before {
  content: 'On';
}

.toggler input:checked + label:after {
  transform: translateX(54px);
  background-color: #007038;
}




.tools *, .tools fieldset:not(:last-child):after {
  display: inline-block;
  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;
  vertical-align: -webkit-baseline-middle;
}

.tools fieldset {
  border: 0;
}

.tools fieldset:not(:last-child):after {
  content: "•";
}

.tools fieldset > *,  .tools > * {
  margin-right: calc(var(--space)/2)
}