.logo-animated {
  transform-origin: 0 0;
}

.logo-animated .dot {
    fill: var(--color-blue);
    visibility: hidden;
    opacity: 0;
    animation: 1s FadeIn 0.3s ease forwards;
}

.logo-animated .line {
    fill: transparent;
    stroke: var(--color-blue);
    stroke-miterlimit:10;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: 1s DrawSvgPath 0.5s ease-in-out forwards; 
}

.logo-animated .triangle-1 {
    fill: var(--color-blue);
    isibility: hidden;
    opacity: 0;
    animation: 0.5s FadeIn 0.3s ease forwards, 5s logo-triangle-1 0.1s linear infinite;
}

.triangle-2 {
    fill: var(--color-lilac);
    isibility: hidden;
    opacity: 0;
    animation: 0.5s FadeIn 0.3s ease forwards, 5s logo-triangle-2 0.1s linear infinite;
}

.triangle-3 {
    fill: var(--color-violet);
    isibility: hidden;
    opacity: 0;
    animation: 0.5s FadeIn 0.3s ease forwards, 5s logo-triangle-3 0.1s linear infinite;
}


@keyframes DrawSvgPath
	{
	 to {
	    stroke-dashoffset: 0;
	  }
	}

@keyframes logo-triangle-1
  {
    0% { fill: var(--color-blue); }
    25% { fill: var(--color-blue); }
    50% { fill: var(--color-blue); }
    75% { fill: var(--color-lilac); }
    100% { fill: var(--color-blue); }
  }

@keyframes logo-triangle-2
  {
    0% { fill: var(--color-lilac); }
    25% { fill: #E0BDED; }
    50% { fill: var(--color-blue); }
    75% { fill: var(--color-blue); }
    100% { fill: var(--color-lilac); }
  }

@keyframes logo-triangle-3
  {
    0% { fill: var(--color-violet); }
    25% { fill: var(--color-lilac); }
    50% { fill: var(--color-lilac); }
    75% { fill: var(--color-violet-dark); }
    100% { fill: var(--color-violet); }
  }